<app-header></app-header>
<div class="container">
<div class="menu">
  <app-menu></app-menu>
</div>
<div class="date-filter">
    <div class="select">
        <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select >
              <mat-option value="one" (click)="onSelectMonth()">Month</mat-option>
              <mat-option value="one" (click)="onSelectYear()">Year</mat-option>
              <mat-option value="two" (click)="onSelectCustom()">Custom date</mat-option>
            </mat-select>
          </mat-form-field>          
    </div>
    <ng-container class="date" *ngIf="month">
        <!-- <mat-form-field appearance="fill"> 
            <mat-label>Month</mat-label> 
            <input matInput [matDatepicker]="dp" [formControl]="months">
             <!-- <mat-hint>MM/YYYY</mat-hint>  -->
            <!--<mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp 
                            startView="month"
                            (monthSelected)="setMonth($event, dp)"
                            panelClass="example-month-picker">
            </mat-datepicker>
            
          </mat-form-field>  -->
          <input type="month">
          
        </ng-container>
        <ng-container class="date" *ngIf="year">
          <mat-form-field appearance="fill">
              <mat-label> Year</mat-label>
              <input matInput [matDatepicker]="dp" [formControl]="years">
              <!-- <mat-hint>MM/YYYY</mat-hint> -->
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp 
                              startView="multi-year"
                              (yearSelected)="setYear($event, dp)"
                              panelClass="example-year-picker">
              </mat-datepicker>
            </mat-form-field>
            
          </ng-container>
    <ng-container class="date" *ngIf="custom">
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate  placeholder="Start date" formControlName="start">
              <input matEndDate  placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker ></mat-date-range-picker>
          </mat-form-field>
       
    </ng-container>
    <div class="btn">
    <button mat-button >Go</button>
    </div>
    <div>
    </div>
    <h3 *ngIf="custom"><b>Selected Date - </b>start date:{{range.value.start | date}}, End date:{{range.value.end | date}} </h3>

    <div class="cards">
<div class="regCar">
    <mat-card class="example-card">
        <mat-card-title>Total Car Registered </mat-card-title>
        <mat-card-content>
          <h1>{{totalCarRegistered}}</h1>
          <hr>
              <mat-icon class="icon">star</mat-icon>
        </mat-card-content>
      </mat-card>
</div>
<div class="serCar">
        <mat-card class="example-card">
            <mat-card-title>Total Car Serviced</mat-card-title>
            <mat-card-content>
              <h1>{{totalCarServiced}}</h1>
            <hr>
              <mat-icon class="icon">star</mat-icon>
            </mat-card-content>
          </mat-card>
</div>
</div>
</div>
<!-- <div class="card">
<div class="regCar">
    <mat-card class="example-card">
        <mat-card-title>Total Car Registered</mat-card-title>
        <mat-card-content>
          <h1>100</h1>
        </mat-card-content>
        <mat-card-content>
            <p>Incresed by 20</p>
          </mat-card-content>
      </mat-card>
</div>
<div class="serCar">
        <mat-card class="example-card">
            <mat-card-title>Total Car Registered</mat-card-title>
            <mat-card-content>
              <h1>100</h1>
            </mat-card-content>
            <mat-card-content>
                <p>Incresed by 20</p>
              </mat-card-content>
          </mat-card>
</div>
</div> -->
</div>
<!-- <h3>start date:{{range.value.start | date}}, End date:{{range.value.end | date}} </h3> -->
