.login-container {
    width: 30%;
    margin: 0px auto;
    margin-top: 70px;
}

.login-title{
    color: red;
}

.logo-content {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-1 {
    display: block;
    flex: 100%;
}

.login-btn {
    border-radius: 20px;
    width: 200px;
}

.text-center {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.mb-10 {
    margin-bottom: 10px;
}