<app-header></app-header>
<div class="container">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="table">
    <h2 class="title">DEALER CAR LIST</h2>

    <div class="filter-sec">
      <form class="date-block" [formGroup]="filterForm">
      <div class="search">
        <mat-form-field appearance="standard">
          <mat-label>search</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput #input formControlName="searchData">
        </mat-form-field>
      </div>
      <div class="dateFilter">
       
          <div class="date-block__list">

            <mat-form-field>
              <input matInput [matDatepicker]="fromDate" placeholder="From Date" formControlName="fromDate">
              <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
              <mat-datepicker #fromDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="date-block__list">
            <mat-form-field>
              <input matInput [matDatepicker]="toDate" placeholder="To Date" formControlName="toDate">
              <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
            </mat-form-field>
            <!-- {{this.filterForm.value | json}} -->
          </div>
       
      </div>

    </form>
      <!-- <div class="goBtn">
    <button mat-raised-button color="primary" class="primary" (click)="applyDateFilter()">Go</button>
  </div> -->
      <div class="add-btn">
        <button mat-raised-button color="primary" class="primary" (click)="searchCars()">Go</button>
        <button mat-raised-button color="primary" (click)="openCarRegister()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <table>

      <tr>
        <td>Car ID </td>
        <td>Model</td>
        <td>VIN</td>
        <td>Registration No</td>
        <td>Dongle Id</td>
        <td>Sold on</td>
      </tr>
      <tr *ngFor="let list of filterData ;let i=index">
        <td>{{list.carId}}</td>
        <td>{{list.modelName}}</td>
        <td>{{list.vin}} </td>
        <td>{{list.registrationNumber}}</td>
        <td>{{list.dongleId}} </td>
        <td>{{list.soldOn }} </td>
      </tr>
      <tr *ngIf="filterData && filterData.length===0">
        <td>No date found</td>
      </tr>
    </table>
    
    <mat-paginator #myPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
      aria-label="Select page">
    </mat-paginator>
  </div>
  <div>
  </div>
</div>
