<div class="login-container">
    <div class="text-center logo-content">
        <img src="/assets/images/logo-car.png">
    </div>
    <form class="form-container" >
        <ng-container *ngIf="!showEmailVerification else enableEmailVerification">
        <h3 class="flex-1 login-title">Forgot Password</h3>
        <mat-form-field class="flex-1">
            <mat-label>EMAIL ADDRESS</mat-label>
            <input matInput placeholder="Enter Email Address">
        </mat-form-field>

        <div class="text-center">
            <p>DO YOU WANT TO RESET YOUR PASSWORD?</p>
            <button mat-raised-button color="primary" class="yes-no-btn" (click)="resetPassword()">Yes</button>
            <button mat-raised-button color="primary" routerLink="/login" class="yes-no-btn">No</button>
        </div>
    </ng-container>
    <ng-template #enableEmailVerification>
        <h3 class="flex-1 login-title">Email sent</h3>
        <p>Check your e-mail to reset Password. A reset link has been sent to your e-mail</p>
        <div class="text-center">
            <button mat-raised-button color="primary" routerLink="/login" class="login-btn">Proceed to login</button>
        </div>
    </ng-template>
    </form>
</div>