<div class="login-container">
    <div class="text-center logo-content">
        <img src="/assets/images/logo-car.png">
    </div>
    <form class="form-container" [formGroup]="registrationForm">
        <h3 class="flex-1 login-title">Create New Account</h3>
        <mat-form-field class="flex-1 mb-10">
            <mat-label>EMAIL ADDRESS</mat-label>
            <input formControlName="email" matInput placeholder="Enter Email Address">
            <mat-error *ngIf="registrationForm.controls['email'].hasError('email') && !registrationForm.controls['email'].hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
                Email is required
              </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-1 mb-10">
            <mat-label>PASSWORD</mat-label>
            <input type="password" formControlName="password" matInput placeholder="Enter Password">
            <mat-error *ngIf="registrationForm.controls['password'].hasError('minlength') && !registrationForm.controls['password'].hasError('required')">
                Minimum length is 8
              </mat-error>
              <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
                Password is required
              </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-1 mb-10">
            <mat-label>RE-ENTER PASSWORD</mat-label>
            <input type="password" formControlName="reEnterPassword" matInput placeholder="Enter Password">
            <mat-error *ngIf="registrationForm.controls['reEnterPassword'].hasError('minlength') && !registrationForm.controls['reEnterPassword'].hasError('required')">
                Minimum length is 8
              </mat-error>
              <mat-error *ngIf="registrationForm.controls['reEnterPassword'].hasError('required')">
                Password is required
              </mat-error>
        </mat-form-field>
        <div class="text-center">
            <button type="button" mat-raised-button color="primary" [disabled]="registrationForm.invalid" (click)="registerUser()" class="login-btn">Sign Up</button>
        </div>
    </form>
</div>