<div class="main-container">
    <div class="header-container">
        <div class="image-content">
            <img class="logo-image" src="/assets/images/logo-main.png">
        </div>
        <div class="header-content">
            <h2 class="title">Welcome {{userName}}</h2>
            <div class="main-menu">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">home</mat-icon>
                            Home
                        </ng-template>
                        <div class="box-container" *ngIf="!notMenuBar">
                            <div class="car-connected">
                                <h4 class="status-msg car-title">Datsun Redi-Go (KA 01 GQ 2022)</h4>
                                <div class="car-connected-info">
                                    <div class="status-cirlce">
                                        <img class="status-image" src="/assets/images/system.png">
                                        <div class="status-msg">
                                            <p>No errors</p>
                                        </div>
                                    </div>
                                    <div class="status-cirlce">
                                        <img class="status-image" src="/assets/images/km.png">
                                        <div class="status-msg">
                                            <p>1526kms</p>
                                        </div>
                                    </div>
                                    <div class="status-end">
                                        <img class="status-image" src="/assets/images/connected.png">
                                        <div class="status-msg">
                                            <p>Connected</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="car-connected-info">
                                <div class="section"></div>
                                <div class="total-history">
                                    <h4 class="status-msg flex-1">Total History :</h4>
                                    <div class="flex-1 mb-10">
                                        <div class="flex-container">
                                            <div class="flex-2">
                                                <label class="status-msg">Car Driven</label>
                                            </div>
                                            <span class=""> 1 hours 10 min</span>
                                        </div>
                                    </div>
                                    <div class="flex-1 mb-10">
                                        <div class="flex-container">
                                            <div class="flex-2">
                                                <label class="status-msg ">Total Distance</label>
                                            </div>
                                            <span> 51.2 kms</span>
                                        </div>
                                    </div>
                                    <div class="flex-1 mb-10">
                                        <div class="flex-container">
                                            <div class="flex-2">
                                                <label class="status-msg">Fuel Consumption</label>
                                            </div>
                                            <span> 7 litres</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Analysis">
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">equalizer</mat-icon>
                            Analysis
                        </ng-template>Content 2
                    </mat-tab>
                    <mat-tab label="Community">
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">groups</mat-icon>
                            Community
                        </ng-template> Content 3
                    </mat-tab>
                    <mat-tab label="Location">
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">person_pin_circle</mat-icon>
                            Location
                        </ng-template> Content 3
                    </mat-tab>
                </mat-tab-group>
                <!-- <button mat-button class="menu-item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon><span
                        class="menu-text">Home</span>
                </button> -->

                <!-- <button mat-button class="menu-item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">equalizer</mat-icon><span
                        class="menu-text">Analysis</span>
                </button>

                <button mat-button class="menu-item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">groups</mat-icon><span
                        class="menu-text">Community</span>
                </button>

                <button mat-button class="menu-item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">person_pin_circle</mat-icon><span
                        class="menu-text">Location</span>
                </button> -->
            </div>
            <div class="right-section menu-item">
                <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
                <div class="user-profile">

                    <mat-icon [matMenuTriggerFor]="menu">person</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialog()">My Profile</button>
                        <button (click)="carInfo()" mat-menu-item>My Car</button>
                        <button mat-menu-item (click)="openCarRegister()">Add Car</button>
                        <button mat-menu-item (click)="listCar()">Car List</button>
                        <button mat-menu-item>Trip</button>
                        <button mat-menu-item>Document Wallet</button>
                        <button mat-menu-item>Badge</button>
                        <button mat-menu-item>Alerts</button>
                        <button mat-menu-item>Settings</button>
                        <button (click)="logOut()" mat-menu-item>Logout</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>
   